* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    text-rendering: geometricPrecision;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

html,
body {
    --content-font: "Helvetica Neue", "Helvetica", "Arial";
    --component-padding: 100px;
    position: relative;
    margin: 0;
    font-family: var(--content-font);
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background-color: #eeeeee;

    img {
        max-width: 100%;
    }
}

.body-wrapper {
    margin: 50px auto;
    padding: 50px;
    max-width: 1080px;
    min-height: 90vh;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 10px #ddd;
    font-size: 1.8em;
}

.site-heading {
    text-align: center;
}

.component-wrapper {
    padding: 25px 0;
}