
* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    text-rendering: geometricPrecision;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

html,
body {
    --font: var(--body-font), "Helvetica Neue", "Helvetica", "Arial";
    --headings-fonts: var(--headings-font), "Helvetica Neue", "Helvetica", "Arial";
    --component-padding: 100px;
    --navigation-offset: 70px;
    position: relative;
    margin: 0;
    font-family: var(--font);
    color: var(--text-color);
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}