<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div class="body-wrapper">
        {% include navigation.html %}
        <h1 class="site-heading">{{ site.data.general_settings.website_title }}</h1>


        {% comment %}
            # The `page` include loops through all content_blocks and renders them.
            # Using a bookshop tag here means that live previewing will catch new components.
        {% endcomment %}
        {% bookshop_include page content_blocks=page.content_blocks page_theme=page.page_theme %}

        {{ content }}
        <a class="cms-editor-link
                  cms-add-component-button" 
           data-cms-editor-link="cloudcannon:#content_blocks">Add Components</a>

        {% include footer.html %}

        {% comment %}
            # This tag registers live previewing on CloudCannon.
            # The script path matches the `bookshop-live` command in package.json.
        {% endcomment %}
        {% bookshop_live _cloudcannon/bookshop-live.js %}
    </div>
</body>
</html>